<div class="mt-4">
    <h3>Thêm Tài Liệu</h3>
    <form method="POST" action="/documents/store">
  <div class="form-group">
    <label for="name">Tên Tài Liệu </label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
   <div class="form-group">
    <label for="description">Mô Tả Tài Liệu </label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
   <div class="form-group">
    <label for="lynk">Lynk Nhúng </label>
    <input type="text" class="form-control" id="lynk" name="lynk">
  </div>
   <div class="form-group">
    <label for="document_id">Lynk Google Drive </label>
    <input type="text" class="form-control" id="document_id" name="document_id">
  </div>
   <div class="form-group">
    <label for="image">Lynk Ảnh Mô Tả</label>
    <input type="text" class="form-control" id="image" name="image">
  </div>
  <button type="submit" class="btn btn-primary">Thêm Tài Liệu </button>
</form>
</div>